header {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
}
header div.wrap {
  
}
header div.wrap h1 {
  
}
header div.wrap h1 a {
  font-size: 0;
  width: 300px;
  height: 300px;
  display: block;
  position: absolute;
  background-color: #c9c8c840;
  left: -56px;
  top: -124px;
  transform: rotate(32deg);
}
header div.wrap ul.gnb {
}
header div.wrap ul.gnb li {
  
}
header div.wrap ul.gnb li a {
  padding: 10px 20px;
  font-size: 20px;
  color: #424242;
}
header div.wrap ul.gnb li a:hover {
 color: #f0c77b;
}
header div.wrap div.right {
  gap: 20px;
  font-size: 13px;
  align-items: center;
}
header div.wrap div.right ul.lang {
  
}
header div.wrap div.right ul.lang li {
  
}
header div.wrap div.right ul.lang li a {
  padding: 10px 5px;
}
header div.wrap div.right ul.lang li:nth-child(1) {
  
}
header div.wrap div.right ul.lang li:nth-child(1) a {
  color: #a29f9f;
}
header div.wrap div.right > a.ham {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ham span{
  width: 100%;
  height: 2px;
  display: block;
  background-color: black;
}
.ham span:nth-child(1){
  transition: 0.5s;
}
.ham span:nth-child(2){
  transition: 0.1s; 
}
.ham span:nth-child(3){
  transition: 0.5s;
}

.ham.x span:nth-child(1){
  transform: translateY(9px) rotate(45deg);
}
.ham.x span:nth-child(2){
  opacity: 0;
}
.ham.x span:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
}
.mhide{
  opacity: 0;
}

.test{
  animation-name: test;
  
}

@keyframes{
  0%{
    width: 10px;
    height: 10px;
    
  }
  50%{
    width: 30px;
    height: 30px;
    
  }
  100%{
    width: 50px;
    height: 50px;
  }
}