main {
  height: 300%;
}
section{
  
}
section#about {
   background-color: white;
   height: 100vh;
   position: relative;
   box-sizing: border-box;
   min-height: 900px;
}
section#about .wrap {
   position: relative;
   z-index: 1;
   height: 100%;
}
section#about .wrap h2 {
   grid-column: 1 /span 6;
   text-align: center;
   font-weight: 500;
}
section#about .wrap img {
   height: 300px;
   grid-row: 2;
   grid-column: 1;
}
section#about .wrap p {
   margin-bottom: 10px;
   grid-row: 3;
}
section#about .wrap > p {
   font-size: 19px;
}
section#about .wrap span {
   line-height: 1.5;
}
section#about .wrap ul {
   
}
section#about .wrap ul.list {
   gap: 5px;
   grid-row: 2/ span 3;
   grid-column: 2 / span 5;
   margin-top: 30px;
}
section#about .wrap ul.list2 {
   grid-row: 3;
   grid-column: 6;
   padding: 0 20px;
}
section#about .wrap ul li{
   text-align: center;
}
section#about .wrap ul li:not(:first-child) {
   height: 400px;
   margin-left: 30px;
}

section#about .wrap ul li::before{
   content: "";
   width: 100px;
   height: 100px;
   display: block;
   margin-bottom: 10px;
   background-size: 90%;
   background-repeat: no-repeat;
   background-position: center;
}
section#about .wrap ul.list li:nth-child(1)::before{
   background-image: url(../icon/html.png);
}
section#about .wrap ul.list li:nth-child(2)::before{
   background-image: url(../icon/css.png);
}
section#about .wrap ul.list li:nth-child(3)::before{
   background-image: url(../icon/jquery.png);
}
section#about .wrap ul.list li:nth-child(4)::before{
   background-image: url(../icon/js.png);
}
section#about .wrap ul.list li:nth-child(5)::before{
   background-image: url(../icon/zzc.png);
}
section#about .wrap ul.list li:nth-child(6)::before{
   background-image: url(../icon/sass.png);
}
section#about .wrap ul.list li:nth-child(7)::before{
   background-image: url(../icon/w3c.png);
}
section#about .wrap ul.list li:nth-child(8)::before{
   background-image: url(../icon/webj.png);
}
section#about .wrap ul.list li:nth-child(9)::before{
   background-image: url(../icon/webop.png);
}
section#about .wrap ul.list li:nth-child(10)::before{
   background-image: url(../icon/Vue.js.png);
}
section#about .wrap ul.list2 li:nth-child(1)::before{
   background-image: url(../icon/ps.png);
}
section#about .wrap ul.list2 li:nth-child(2)::before{
   background-image: url(../icon/ai.png);
}
section#about .wrap ul.list2 li:nth-child(3)::before{
   background-image: url(../icon/pr.png);
}
section#about .wrap .education{
   grid-row: 3;
   grid-column: 3;
}
section#about .wrap .education h2{
   text-align: left;
   margin-bottom: 20px;
}
section#about .wrap .education p{

}
section#about .wrap .certificate{
   grid-row: 3;
   grid-column: 5;
}
section#about .wrap .certificate h2{
   text-align: left;
   margin-bottom: 20px;
}
section#about .wrap .certificate p{

}

section#about::after{
   content: "";
   width: 95%;
   height: 35%;
   display: block;
   background-color: #e9e7e7;
   border-radius: 30px 0 0 30px;
   position: absolute;
   right: 0;
   bottom: 187px;
}

section#portfolio {
   max-width: 1720px;
   background-color: white;
   min-height: 800px;
   position: relative;
   margin: 50px 100px 0 100px;
   box-sizing: border-box;
}
section#portfolio::after{
   content: "";
   display: block;
   border: 50px solid rgb(255, 255, 255);
   border-left-color: transparent;
   border-right-color: transparent;
   border-bottom-color: transparent;
   border-left-width: 837px;
   border-right-width: 837px;
   position: absolute;
   bottom: -241px;
   border-top-width: 194px;
   left: 14.5px;
   z-index: 1;
}
section#portfolio .wrap {
   box-sizing: border-box;
}
section#portfolio .wrap .pSlide .slick-list{
   height: 517px;
   padding: 60px !important;
}
section#portfolio .wrap .pSlide .slick-dots{
   
   bottom: -40px;
}
section#portfolio .wrap h2 {
   text-align: center;
}
section#portfolio .wrap >ul {
}
section#portfolio .wrap ul.pTab{
   display: flex;
   justify-content: center;
}
section#portfolio .wrap ul.pTab li{
   }
section#portfolio .wrap ul.pTab li a{
   padding: 10px;
   width: 120px;
   height: 20px;
  
   border: 1px solid rgba(0,0,0,0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   }
section#portfolio .wrap ul.pList{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 1fr 1fr;
   padding-top: 40px;
   grid-gap: 20px;
}
section#portfolio .wrap >ul li{
   transition:0.6s;    
   position: relative;
}
section#portfolio .wrap >ul li img{
   width: 100%;
   height: 100%;
}
section#portfolio .wrap >ul li:nth-child(1){
   
}
section#portfolio .wrap >ul li:nth-child(2){
   
}
section#portfolio .wrap >ul li:nth-child(3){
   
}
section#portfolio .wrap >ul li:nth-child(4){
   
}
section#portfolio .wrap >ul li:nth-child(5){
   
}

/* section#portfolio .wrap >ul li.slick-center{
   transform:scale(1.2);
   position:relative;
   z-index:11;   
   box-sizing: border-box;
} */

section#portfolio .wrap ul div ul.tag{
   flex-wrap: wrap;
   order: 3;
   grid-row: 2;
   flex-direction: column;
   font-size: 20px;
}
section#portfolio .wrap ul div span{
   
   grid-row: 4;
}
section#portfolio .wrap ul div span a{
   
}

section#portfolio .wrap ul li div {
   display: grid;
   grid-template-columns: 10% auto 1fr;
   grid-template-rows: 40px auto auto auto auto;
   z-index: 1;
   /*! gap: 9px; */
   justify-items: start;
   row-gap: 0;
}

.ptext{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(0,0,0,0.7);
}
.ptext::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  transform: scaleY(10%);
  transform-origin: 0 0;
  transition: 0.5s;
  z-index: -1;
}
.ptext.transY::before{
  background-color: rgba(0,0,0,0.2);
  transform: scaleY(100%) !important;
}

section#portfolio .wrap ul li div:hover {
/*    box-shadow: 0px 0px 15px #ccc; */
}


section#portfolio .wrap ul li div h3 {
   padding-bottom: 10px;
   /*! order: 1; */
   grid-row: 2 / span 7;
   grid-column: 2;
   color: rgba(255,255,255,0.8);
   justify-self: left;
   align-self: flex-start;
   padding-right: 20px;
}
section#portfolio .wrap ul li div img{
   grid-column: 1;
   width: 100%;
   grid-row: 1 /span 4;
   display: flex;
}
section#portfolio .wrap div ul li{
   
   line-height: 2.5;
   color: rgba(0,0,0,0.6);
}
section#portfolio .wrap ul li div p {
   color: rgba(255,255,255,0.9);
}
section#portfolio .wrap ul li div p:nth-of-type(1) {
   grid-column: 3;
   grid-row: 2;
}
section#portfolio .wrap ul li div p:nth-of-type(2) {
   grid-column: 3;
   grid-row: 3;
}
section#portfolio .wrap ul li div p:nth-of-type(3) {
   grid-column: 3;
   grid-row: 4;
   justify-self: start;
   text-align: left;
}
section#portfolio .wrap ul li div p:nth-of-type(4) {
   grid-column: 3;
   grid-row: 5;
}

section#portfolio .wrap ul li div a{
   color: #e3e3e3;
   border: 1px solid #8d8d8d;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 3;
   grid-row: 6;
}
section#portfolio .wrap .pdetail {
   width: calc(100% / 2);
}
section#portfolio .wrap .pdetail article {
   display: grid;
   grid-template-columns: 50% calc(50% - 50px);
   grid-template-rows: auto auto 1fr;
   column-gap: 50px;
   row-gap: 24px;
}
section#portfolio .wrap .pdetail article:not(:first-child) {
   display: none;
}
section#portfolio .wrap .pdetail article hgroup {

}
section#portfolio .wrap .pdetail article hgroup h3 {
   margin-bottom: 16px;
}
section#portfolio .wrap .pdetail article hgroup h4 {

}
section#portfolio .wrap .pdetail article p.h4 {
   line-height: 1.3;
}
section#portfolio .wrap .pdetail article p.p {

}
section#portfolio .wrap .pdetail article img {
   grid-row: 1 / span 3;
   grid-column: 2;
   width: 500px;
}






section#contact{
   padding-top: 50px;
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
section#contact .wrap{  
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 100%;
}
section#contact .wrap h2{
   text-align: center;
}
section#contact .wrap ul{
   gap: 70px;
   justify-content: center;
   margin-top: 5%;
   align-items: center;
}
section#contact .wrap ul li{
   
}
section#contact .wrap ul li a{
   
}
section#contact .wrap ul li a:nth-of-type(2){
   
}
section#contact .wrap ul li a.E-mail{
   font-size: 0;
   width: 150px;
   height: 150px;
   display: block;
   background-image: url(../img/mail.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: 1s;
}

section#contact .wrap ul li a.E-mail:hover{
   transform: scale(1.1);
   background-image: url(../img/mail2.svg);
}
section#contact .wrap ul li a.Github{
   font-size: 0;
   width: 150px;
   height: 150px;
   display: block;
   background-image: url(../img/github.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: 0.5s;
}
section#contact .wrap ul li a.Github:hover{
   transform: scale(1.1);
   background-image: url(../img/github2.svg);
}
section#contact .wrap ul li a.Instagram{
   font-size: 0;
   width: 150px;
   height: 150px;
   display: block;
   background-image: url(../img/instagram.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: 0.5s;
}
section#contact .wrap ul li a.Instagram:hover{
   transform: scale(1.1);
   background-image: url(../img/instagram2.svg);
}
section#contact .wrap ul li a.kakaoQr{
   font-size: 0;
   width: 135px;
   height: 150px;
   display: block;
   background-image: url(../img/kakaoQr.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: 0.5s;
}
section#contact .wrap ul li a.kakaoQr:hover{
   transform: scale(1.1);
   background-image: url(../img/kakaoQr.png);
}

button{
	color:#fff;
	background: #707070;
	font-size: 14px;
	border:none;
	border-radius: 10px;
	transition:0.3s;
   padding: 4px;
	position: absolute;
	transform: translateY(20px);
}
button:hover{
   color:#000;
	background: rgba(255, 167, 0, 0.3);
}