#title {
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 28px #ccc;
  min-height: 600px;
  background-image: 
     url(../img/leon.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  background-position-y: -211px;
}
#title .wrap {
  height: 100%;
  transform: translateY(-30px);
}
#title .wrap hgroup {
  margin-left: 3%;
  width: 100%;
}
#title .wrap hgroup.titlehide{
  opacity: 0;
}
#title .wrap hgroup h2 {
  display: flex;
  opacity: 0;
  gap: 20px;
  overflow: hidden;
}
#title .wrap hgroup h2 span{
  font-size: 140px;
}
#title .wrap hgroup h2 span:not(:first-child){
  transition-delay: 0.1s;
}
#title .wrap hgroup h3 {
  
  opacity: 0;
  display: flex;
  gap: 20px;
  padding-left: 10px;
  color: rgba(0,0,0,0.7);
}
#title .wrap hgroup h3::after{
  content: "";
  display: block;
  width: 285px;
  border-bottom: 3px solid;
}
#title .wrap hgroup h3 span{
  
}
.textAni{
  animation-name: txtAni;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  overflow: hidden;
  animation-timing-function: ease-in;
}
@keyframes textAni{
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(100px);
    opacity: 0;
  }
}
.txtAni{
  animation-name: txtAni;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  overflow: hidden;
  animation-timing-function: ease-in;
}
@keyframes txtAni{
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(100px);
    opacity: 0;
  }
}

.marquee {
  height: 24%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.marquee div {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.marquee span {
  /*! float: left; */
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1);
  /*! width: 50%; */
  display: flex;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}